<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mii.assetmanagement">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".view.HistoryExchangeEmployeeActivity"></activity>
        <activity android:name=".view.HistoryExchangeAssetActivity" />
        <activity android:name=".view.HistoryRequestActivity" />
        <activity android:name=".view.HistoryMaintenanceActivity" />
        <activity android:name=".view.GridHistoryActivity" />
        <activity android:name=".view.HistoryDetailExchangeActivity" />
        <activity android:name=".view.HistoryDetailRequestNewActivity" />
        <activity android:name=".view.HistoryDetailMaintenanceActivity" />
        <activity android:name=".view.HistoryDetailActivity" />
        <activity android:name=".view.HistoryActivity" />
        <activity android:name=".view.ExchangeAssetActivity" />
        <activity android:name=".view.ExchangeEmployeeActivity" />
        <activity android:name=".view.GenerateExchangeAssetActivity" />
        <activity android:name=".view.GenerateExchangeEmplActivity" />
        <activity android:name=".view.ExchangeActivity" />
        <activity
            android:name=".view.PopupActivity"
            android:theme="@style/AppTheme.PopMe" />
        <activity android:name=".view.SearchAssetActivity" />
        <activity android:name=".view.ReviewActivity" />
        <activity android:name=".view.RequestActivity" />
        <activity android:name=".view.GenerateMaintenanceActivity" />
        <activity android:name=".view.MaintenanceActivity" />
        <activity android:name=".view.InformationActivity" />
        <activity android:name=".view.ProfileActivity" />
        <activity android:name=".view.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".view.MainActivity" />
    </application>

</manifest>